:root {
  --p1: #2f80ed;
  --p2: #eb5757;

  --c1: #333;
  --c2: #a9a9a9;
  --c3: #bdbdbd;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: clamp(10rem, 90vw, 60.8rem);
}
